<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My CV App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a> |
            <a href="/Home/About">About</a> |
            <a href="/Home/CV">CV</a> |
            <a href="/Home/Projects">Projects</a> |
            <a href="/Home/TaxCalculator">Tax Calculator</a> |
            <a href="/Gallery">Gallery</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>